body {
  padding-top: 0;
  background-color: #efebff;
}

position: absolute;
width: 1161px;
height: 134px;
left: 118px;
top: 302px;

font-family: Good Times;
font-style: normal;
font-weight: normal;
font-size: 69px;
line-height: 83px;
text-align: center;

color: #513E5C;

mix-blend-mode: normal;